<nav class="navbar navbar-default navbar-fixed" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >{{page}}</span>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" uib-dropdown>
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                        <span class="text-uppercase">{{user.username}}</span>
                        <b class="caret hidden-sm hidden-xs"></b>                               
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>                        
                        <li><a href="javascript:void(0)" ng-click="logout()">Log Out</a></li>
                    </ul>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>