<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="header ">                  
                    <div class="form-inline pull-right">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Date" data-animation="false" title="Date" ng-model="filterDate" uib-datepicker-popup="{{format}}"
                                ng-change="filterDateChanged()" is-open="filterDatePopup.opened" datepicker-options="filterDateOptions" ng-required="true"
                                show-button-bar="false" ng-click="filterDateDtpkr()">
                    
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-pharma" ng-click="filterDateDtpkr()">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <h4 class="title">Patient's List</h4>
                    <div class="clearfix"></div>
                    <p class="category">Patient's Record</p>
                    
                </div>
                <div class="content">
                    <div class="patients-list">
                        
                        <div class="panel panel-hh" ng-repeat="patient in patients">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{patient.patientName}} - {{patient.contactNo}} - {{patient.emailId}}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                        <div class="col-sm-3"><strong>Patient Name :</strong> {{patient.patientName}}</div>
                                        <div class="col-sm-3"><strong>age :</strong> {{patient.age}}</div>
                                        <div class="col-sm-3"><strong>sex :</strong> {{patient.sex}}</div>
                                        <div class="col-sm-3"><strong>Email Id :</strong> {{patient.emailId}}</div>
                                        <div class="col-sm-3"><strong>Contact No :</strong> {{patient.contactNo}}</div>
                                        <div class="col-sm-3"><strong>Allergic To :</strong> {{patient.allergicTo}}</div>
                                        <div class="col-sm-3"><strong>Habits :</strong> {{patient.habits}}</div>
                                        <div class="col-sm-3"><strong>Medical History :</strong> {{patient.medicalHistory}}</div>
                                        <div class="col-sm-3"><strong>Drug History :</strong> {{patient.drugHistory}}</div>
                                        <div class="col-sm-3"><strong>Is Pregnant :</strong> {{patient.isPregnant}}</div>
                                        <div class="col-sm-3"><strong>Additional Info :</strong> {{patient.additionalInfo}}</div>
                                        <div class="col-sm-3"><strong>Reffered By :</strong> {{patient.refferedBy}}</div>
                                </div>

                                    
                               
                                <div class="patient-details table-full-width table-patients table-responsive" >
                                    <table class="table table-hover table-striped" ng-if="patients.length != 0">
                                        <thead>
                                            <tr>                                                
                                                <th>Procedure/Treatment</th>
                                                <th>Diagnosis</th>
                                                <th>Date</th>
                                                <th>Amount Paid</th>
                                                <th>Amount Total</th>
                                                <th>Amount Remaining</th>                                                
                                                <th>Additional Info</th>        
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="record in patient.records" ng-class="{'text-danger' : (record.amountTotal - record.amountPaid) > 0}">
                                                <td>{{record.procedureTreatment}}</td>
                                                <td>{{record.diagnosis}}</td>
                                                <td>{{record.timestamp | date : 'yyyy-MMM-dd'}}</td>
                                                <td>{{record.amountPaid}}</td>
                                                <td>{{record.amountTotal}}</td>
                                                <td>{{record.amountTotal - record.amountPaid}}</td>
                                                <td>{{record.additionalInfo}}</td>                                                
                                            </tr>
                                        </tbody>
                                    </table>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>