<div growl></div>
<div class="wrapper">
    <!-- Sidebar Navigation -->
    <div ng-include="'views/common/sidebar-nav.html'" class="sidebar" data-color="purple" ng-class="{'open' : isSidebarOpen}"></div>

    <div class="main-panel" ng-class="{'sidebar-open' : isSidebarOpen}">

        <!-- Header -->
        <div ng-include="'views/common/header.html'" class="mobile-header"></div>

        <!-- Main Content -->
        <div class="content">
            <div ui-view></div>
        </div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
</div>